# UofT FASE ML Bootcamp
#### Thursday August 22, 2019
#### Design your own classifier - Day 4 
#### Teaching team: Elias Khalil, Kyle E. C. Booth, and Alex Olson

In this lab, you are tasked with designing your own classifier to predict whether (or not) an individual has diabetes based on a set of characteristics. We give you the beginning bit of code to read in the data and the rest is up to you!

If you have any questions, please ask the TAs!

In [15]:
import pandas as pd

data = pd.read_csv('data/diabetes.csv')
data.head() # Prints first 5 rows

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive

The features correspond to the following:
* Number of times pregnant
* Plasma glucose concentration a 2 hours in an oral glucose tolerance test
* Diastolic blood pressure (mm Hg)
* Triceps skin fold thickness (mm)
* 2-Hour serum insulin (mu U/ml)
* Body mass index (weight in kg/(height in m)^2)
* Diabetes pedigree function
* Age (years)

Some initial questions to explore:
* How many features does the data have?
* What is your target?
* Are there missing values? How many?
* Are there any values that need to be mapped from categorical to numeric?
* How imbalanced is the data? (i.e., what is the ratio of 'tested_positive' to 'tested_negative')

**YOUR TURN:** Separate the data into 70% training, 30% testing and then design a classifier using 5-folds cross validation on the training set. What is the best cross-validated training accuracy you can get? There's no right answer from here on out, let's see what you can do!

In [ ]:
## Your code here (use the '+' symbol at the top to insert new blank cells)
##
##
##
##